# Should be under "/etc/systemd/system" in EC2 instance, set as executable (sudo chmod +x airflow-start.service) & enabled (sudo systemctl enable airflow-start.service)
[Unit]
Description=Update Git and Docker Airflow on EC2 Startup
After=network.target docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/airflow-start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target